# Dependências
node_modules/
apps/web/node_modules/
package-lock.json
apps/web/package-lock.json
apps/package-lock.json

# Build e produção
dist/
apps/web/dist/

# Variáveis de ambiente
.env
.env.local
.env.*
!.env.example

# Cache e arquivos temporários
.cache/
.temp/
*.tmp

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml